
<head>
    <meta charset="utf-8">
    <title>Welcome - Embauchez devient facile</title>
    <meta name="title" content="Welcome - Embauchez devient facile">
    <meta name="description" content="Grâce à Welcome, financez jusqu'à 6 mois de salaire de
    votre nouvel employé, accélerez votre développement et économisez votre trésorerie">
    <meta name="keywords" content="welcome,crédit pro,aide emploi,embaucher, crédit trésorerie">
    <meta name="distribution" content="web">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQHDN93');</script>
<!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MQHDN93');</script>
  <!-- End Google Tag Manager -->

  <section style="background-color: #F7F9FB">
      <div class="col col-lg-7 col-sm-12 col-md-12">
        <div class="text">

          <!-- <div class= "div-logo">
          </div> -->
          <%= cl_image_tag("Group_32_sdbt1j", width: "30%", height: "auto", class: "logo", id: "unic") %>
        <h1 class="ml14" >
          <span class="letters">Accélérez vos embauches.</span>
          </span>
        </h1>
          <p class="dec">Nous finançons les premiers mois de salaire de vos nouveaux employés. Embauchez maintenant, payez plus tard.</p>
          <!-- Begin Mailchimp Signup Form -->
          <div class="sign-up-form">
            <button class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr'">Réserver une démo</button>
          </div>
          </div>
        </div>

    <div class="col col-lg-5 col-sm-0 col-md-12">
      <%= cl_image_tag("Group_31_xksmuy", width: "40%", height: "auto", class: "marc") %>
      <%= cl_image_tag("Group_54_dvehos", width: "60%", height: "auto", class: "board-1") %>
      <div class="new_colonn">
      <%= cl_image_tag("bruce3_1_j7umkm", width: "103%", height: "auto") %>
      </div>
    </div>
  </section>

  <div style="background-color: white" class="section2">
    <div class="cover2">
      <%= cl_image_tag("Group_48_qhkdpo", width: "100%", height: "auto") %>
    </div>
    <div class="container">
      <div class="row-title">
        <h2> Embauchez à la vitesse de l’éclair.</h2>
        <p class="decalage"> N’attendez plus de constituer 12 mois de trésorerie pour recruter.</p>
        <button class="demo" class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr'" style="margin-top: 20px">Réserver une démo</button>
      </div>
      <div class="cover">
        <%= cl_image_tag("ecran_2_1_gpp8mx", width: "90%", height: "auto") %>
      </div>
      <div class="cover2" style="padding-bottom: 10%;">
        <%= cl_image_tag("Group_44_dcux8w", width: "100%", height: "auto") %>
      </div>
  </div>
  </div>
    <div style="background-color:  #F7F9FB">
      <div class="container">
        <div class="row-title2">
          <h3> Un fonctionnement simple, rapide et transparent. </h3>
          <p class="decalage"> Un service sécurisé et reconnu par <%= cl_image_tag("logo_1_qgyprc", width: "5%", height: "auto") %></p>
          <button id="button3" class="demo" class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr'">Réserver une démo</button>
        </div>
        <div class="box">
          <div class="steps">
            <div class="buttons">
              <div id="etape1" class="active" onclick="myFunction1()"><p>1. Déposez votre demande en 5 mins.</p></div>
              <div id="etape2" onclick="myFunction2()"><p>2. Vous pouvez recruter. </p></div>
              <div id="etape3" onclick="myFunction3()"> <p>3. Remboursez sans y penser.</p></div>
            </div>
            <div id="screen1" class="info">
              <%= cl_image_tag("Group_5_1_xbj8he", width: "100%", height: "auto") %>
            </div>
            <div id="screen2" class="info inactive">
              <%= cl_image_tag("Group_6_1_hdabtk", width: "100%", height: "auto") %>
            </div>
            <div id="screen3" class="info inactive">
              <%= cl_image_tag("Group_7_1_rixq8u", width: "100%", height: "auto") %>
            </div>
          </div>
          <div class="resp">
            <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <p>
          1. Déposez votre demande en 5 mins.
        </p>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <%= cl_image_tag("Group_5_2_eljpjq", width: "100%", height: "auto") %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h5 class="mb-0">
        <p>
          2. Vous pouvez recruter.
        </p>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <%= cl_image_tag("Group_6_3_qsllq3", width: "100%", height: "auto") %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h5 class="mb-0">
        <p>
          3. Remboursez sans y penser.
        </p>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <%= cl_image_tag("Group_7_3_us4zuy", width: "100%", height: "auto") %>
      </div>
    </div>
  </div>
</div>


          </div>
        </div>
      </div>
    </div>
    <div style="background-color:  black" class="section4">
      <h3 style="color: white">Abordez vos recrutements plus sereinement.</h3>
       <p class="decalage">Rejoignez +100 entreprises qui recrutent leur équipe grâce à Welcome.</p>
      <button class="demo2" class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr'">Réserver une démo</button>
    </div>
</body>

<style>
  .inactive {
    display: none;
}
</style>

<script>

function myFunction1() {
  var x = document.getElementById("screen1");
  var y  = document.getElementById("screen2");
  var z = document.getElementById("screen3");
  var a = document.getElementById("etape1");
  var b = document.getElementById("etape2");
  var c = document.getElementById("etape3");

  x.style.display = "block"
  y.style.display = "none"
  z.style.display = "none"


  a.classList.add("active");
  b.classList.remove("active");
  c.classList.remove("active");

}

function myFunction2() {
  var x = document.getElementById("screen1");
  var y  = document.getElementById("screen2");
  var z = document.getElementById("screen3");
  var a = document.getElementById("etape1");
  var b = document.getElementById("etape2");
  var c = document.getElementById("etape3");


  x.style.display = "none"
  y.style.display = "block"
  z.style.display = "none"

  a.classList.remove("active");
  b.classList.add("active");
  c.classList.remove("active");


}

function myFunction3() {
  var x = document.getElementById("screen1");
  var y  = document.getElementById("screen2");
  var z = document.getElementById("screen3");
  var a = document.getElementById("etape1");
  var b = document.getElementById("etape2");
  var c = document.getElementById("etape3");


  x.style.display = "none"
  y.style.display = "none"
  z.style.display = "block"


  a.classList.remove("active");
  b.classList.remove("active");
  c.classList.add("active");
}

</script>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  ('.showSingle').click(function () {
    ('.info').hide();
    ('.info').removeClass('blackactive');
    (this).addClass("blackactive")
    ('#div' + $(this).attr('target')).show();
});

</script> -->




