<body>

  <section style="background-color: #F7F9FB">
      <div class="col col-lg-7 col-sm-12 col-md-12">
        <div class="text">
          <%= cl_image_tag("Group_32_sdbt1j", width: "30%", height: "auto", class: "logo", id: "unic") %>
        <h1 class="ml14" >
          <span class="text-wrapper">
          <span class="letters" style=" line-height: 90px;">Accélérez vos recrutements commerciaux. </span>
          <span class="line"></span>
          </span>
        </h1>
          <p class="dec">Nous finançons les 6 premiers mois de salaire à l’embauche d’un commercial dans votre entreprise.</p>
          <!-- Begin Mailchimp Signup Form -->
          <div class="sign-up-form">
            <button class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr-sales'">Réserver une démo</button>
          </div>
          </div>
        </div>

    <div class="col col-lg-5 col-sm-0 col-md-12">
      <%= cl_image_tag("Group_34_hs4ojq", width: "40%", height: "auto", class: "marc") %>
      <%= cl_image_tag("Group_14_1_sw450m", width: "75%", height: "auto", class: "board-1") %>
      <div class="new_colonn">
      <%= cl_image_tag("bruce3_1_j7umkm", width: "103%", height: "auto") %>
      </div>
    </div>
  </section>

  <div style="background-color: white" class="section2">
    <div class="container">
      <div class="row-title">
        <h2>Faîtes décoller vos ventes.</h2>
        <p class="decalage"> N’attendez plus avant d’embaucher les commerciaux dont vous avez besoin. </p>
        <button class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr-sales'" style="margin-top: 20px">Réserver une démo</button>
      </div>
      <div class="cover" style="margin-left: 50px">
        <%= cl_image_tag("Group_13_1_nrvlgj", width: "110%", height: "auto") %>
      </div>
  </div>
  </div>
  <div style="background-color: #F7F9FB">
    <div class="cover2">
        <%= cl_image_tag("Group_50_aueb8f", width: "100%", height: "auto") %>
    </div>
    <div class="container">
      <div class="row-title" style="margin-top: 0px; padding-top: 100px; margin-bottom: 50px">
        <h3>Quels sont les métiers financés ?</h3>
        <p class="decalage"> Vous gardez la main sur le recrutement. Nous finançons les 6 premiers mois.  </p>
      </div>
      <div class="other" style="margin-left: 10px">
        <div class="marge"><%= cl_image_tag("Group_20_ej8quj", width: "80%", height: "auto") %></div>
        <div class="marge"><%= cl_image_tag("Group_21_m4guuz", width: "80%", height: "auto") %></div>
        <div class="marge"><%= cl_image_tag("Group_22_zlvxzh", width: "80%", height: "auto") %></div>
      </div>
      <div class="job">
        <p class="decalage">+20 autres métiers disponibles </p>
        <button class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr-sales'" style="margin-top: 20px; margin-bottom: 100px">Réserver une démo</button>
      </div>
    </div>
  </div>
  <div style="background-color: white">
    <div class="container">
      <div class="row-title" style="margin-top: 0px; padding-top: 50px; margin-bottom: 50px">
        <h4>1. Déposez vous demande en 5 mins. Réponse en 24h. </h4>
        <h4>2. Recevez le salaire brut de votre employé chaque mois sur votre compte société.</h4>
        <h4 style="margin-bottom: 80px" >3. Remboursez ensuite sans y penser.</h4>
        <p class="decalage" >Après 6 mois, remboursez l’avance jusqu’à 18 mois grâce à vos nouvelles ventes. </p>
      </div>

      <div class="other2">
        <div class="col col-lg-5 col-sm-12 col-md-12" id="merde"><p>Des mensualités fixes claires et transparentes.<br><br> Jusqu’à 18 mois pour
alléger votre trésorerie. <br><br>  Vous restez maître à bord. Pas de garantie ni de caution personnelle. </p></div>
        <div class="col col-lg-7 col-sm-12 col-md-12"><%= cl_image_tag("Group_24_1_vk4ngd", width: "100%", height: "auto") %></div>
      </div>
    </div>
  </div>

    <div style="background-color:  black" class="section4">
      <h3 style="color: white">Prêt à dopper votre croissance ?</h3>
      <p class="decalage">Rejoignez +100 entreprises qui recrutent leurs commerciaux grâce à Welcome.</p>
      <button class="demo2" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-fr-sales'">Réserver une démo</button>
    </div>
</body>
