
<head>
</head>


<body>

  <section style="background-color: #F7F9FB">
      <div class="col col-lg-7 col-sm-12 col-md-12">
        <div class="text">

          <!-- <div class= "div-logo">
          </div> -->
            <%= cl_image_tag("Group_32_sdbt1j", width: "30%", height: "auto", class: "logo") %>
        <h1 class="ml14" >
          <span class="text-wrapper">
          <span class="letters" style=" line-height: 90px;">Grow your team faster.</span>
          <span class="line"></span>
          </span>
        </h1>
          <p>We fund the first payrolls of your new employee. Hire now, pay back later.</p>
          <!-- Begin Mailchimp Signup Form -->
          <div class="sign-up-form">
            <button class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-us'" >Book a demo</button>
          </div>
          </div>
        </div>

    <div class="col col-lg-5 col-sm-0 col-md-12" id="destroy">
      <%= cl_image_tag("Group_33_p57y9f", width: "40%", height: "auto", class: "marc") %>
      <%= cl_image_tag("Group_11_2_ecfzrm", width: "60%", height: "auto", class: "board-1") %>
      <div class="new_colonn">
      <%= cl_image_tag("bruce3_1_j7umkm", width: "103%", height: "auto") %>
      </div>
    </div>
  </section>
  <div style="background-color: white" class="section2">
    <div class="container">
      <div class="row-title">
        <h2> Scale your team now.</h2>
        <p class="decalage"> Don't wait for 12 months cash flow in your bank account. </p>
        <button type="submit" class="demo" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-us'" style="margin-top: 20px">Book a demo</button>
      </div>
      <div class="cover">
        <%= cl_image_tag("Group_30_ezme2o", width: "90%", height: "auto") %>
      </div>
  </div>
  </div>
    <div style="background-color:  #F7F9FB">
      <div class="container">
        <div class="row-title2">
          <h3> A fast, easy and convenient way to fund your company. </h3>
          <button id="button3" class="demo" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-us'" >Book a demo </button>
        </div>
        <div class="box">
          <div class="steps">
            <div class="buttons">
              <div id="etape1" class="active" onclick="myFunction1()"><p>1. Apply in 5 mins.</p></div>
              <div id="etape2" onclick="myFunction2()"><p>2. Hire now. </p></div>
              <div id="etape3" onclick="myFunction3()"> <p>3. Pay back without worry.</p></div>
            </div>
            <div id="screen1" class="info">
              <%= cl_image_tag("Group_12_1_rpdnym", width: "100%", height: "auto") %>
            </div>
            <div id="screen2" class="info inactive">
              <%= cl_image_tag("Group_6_2_ruvdxp", width: "100%", height: "auto") %>
            </div>
            <div id="screen3" class="info inactive">
              <%= cl_image_tag("Group_7_6_q9znte", width: "100%", height: "auto") %>
            </div>
          </div>
          <div class="resp">
            <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <p>
          1. Apply in 5 mins.
        </p>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <%= cl_image_tag("Group_27_i7yzda", width: "100%", height: "auto") %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h5 class="mb-0">
        <p>
          2. Hire now.
        </p>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <%= cl_image_tag("Group_28_f8zwsi", width: "100%", height: "auto") %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h5 class="mb-0">
        <p>
          3. Pay back without worry.
        </p>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <%= cl_image_tag("Group_7_5_dlkumu", width: "100%", height: "auto") %>
      </div>
    </div>
  </div>
</div>


          </div>
        </div>
      </div>
    </div>
      <div style="background-color: white">
    <div class="container">
      <div class="row-title" style="margin-top: 0px; padding-top: 100px; margin-bottom: 50px">
        <h2>They grow with us. </h2>
        <p class="decalage"> Join +300 teams using Welcome for hiring across the USA. </p>
      </div>
      <div class="other" style="margin-left: 10px">
        <div class="marge" style="margin-right: 40px"><%= cl_image_tag("Group_26_undprk", width: "100%", height: "auto") %></div>
        <div class="marge"><%= cl_image_tag("Group_25_c0cu6z", width: "100%", height: "auto") %></div>
      </div>
    </div>
  </div>
    <div style="background-color:  black" class="section4">
      <h3 style="color: white">Ready to grow your business ?</h3>
      <p class="decalage">The fastest and easiest way to scale your team. </p>
      <button class="demo2" type="submit" onclick="location.href='https://calendly.com/welcome-demo/demo-welcome-us'" >Book a demo </button>
    </div>
</body>

<style>
  .inactive {
    display: none;
}
</style>

<script>

function myFunction1() {
  var x = document.getElementById("screen1");
  var y  = document.getElementById("screen2");
  var z = document.getElementById("screen3");
  var a = document.getElementById("etape1");
  var b = document.getElementById("etape2");
  var c = document.getElementById("etape3");

  x.style.display = "block"
  y.style.display = "none"
  z.style.display = "none"


  a.classList.add("active");
  b.classList.remove("active");
  c.classList.remove("active");

}

function myFunction2() {
  var x = document.getElementById("screen1");
  var y  = document.getElementById("screen2");
  var z = document.getElementById("screen3");
  var a = document.getElementById("etape1");
  var b = document.getElementById("etape2");
  var c = document.getElementById("etape3");


  x.style.display = "none"
  y.style.display = "block"
  z.style.display = "none"

  a.classList.remove("active");
  b.classList.add("active");
  c.classList.remove("active");


}

function myFunction3() {
  var x = document.getElementById("screen1");
  var y  = document.getElementById("screen2");
  var z = document.getElementById("screen3");
  var a = document.getElementById("etape1");
  var b = document.getElementById("etape2");
  var c = document.getElementById("etape3");


  x.style.display = "none"
  y.style.display = "none"
  z.style.display = "block"


  a.classList.remove("active");
  b.classList.remove("active");
  c.classList.add("active");
}

</script>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  ('.showSingle').click(function () {
    ('.info').hide();
    ('.info').removeClass('blackactive');
    (this).addClass("blackactive")
    ('#div' + $(this).attr('target')).show();
});

</script> -->
